* {
    box-sizing: border-box;
}

/* For small views */
[class*="col-"] {
    width: 100%;
    padding: 2px 10px;
    display: inline-block;
}

/* For widths larger than 600 px */
@media only screen and (min-width: 600px) {
    .col-a1 > ul, .col-a2 > ul {
        height: 140px;
    }

    .col-a1, .col-a2 {
        width:50%;
        float:left;
    }

    .col-a3 {
        width:100%;
        float:none;
    }

    .col-a3 + ul {
        height: auto;
    }
}

/* For widths larger than 900 px */
@media only screen and (min-width: 900px) {
    .col-b1 {
        width:33%;
        float:left;
    }
    .col-b2 {
        width:33%;
        float:left;
    }
    .col-b3 {
        width:33%;
        float:left;
    }

    ul {
        height: 140px;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.formatDiv {
    margin: 0px 5px;
}

.formatDiv textarea {
    resize: none;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

.formatDiv span, .formatDiv input[type="text"] {
    width: 100%;
    display: inline-block;
}