a.calendarBtn {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    color: #ecf0f1;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2196F3;
    transition: background-color .5s;
    cursor: pointer;
}

a.calendarBtn:hover {
    background-color: #1565C0;
}

div.sig_modalBody {
    overflow-y: scroll;
    position: fixed;
    width: 500px;
    height: auto;
    background-color: #fff;
    z-index: 1000;
    display: block;
    padding: 10px 20px 10px 20px;
    margin: auto;
    top: 4%;
    left: 0;
    right: 0;
    border-radius: 5px;
    box-shadow: 0px 10px 22px 4px rgba(0, 0, 0, 0.56);
    font-family: monospace;
    max-height: 80%;
}

div.sig_modalBody h1,
div.sig_modalBody h2 {
    text-align: center;
    font-size: 20px;
}

ul.sig_eventsList {
    font-size: 18px;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px;
    /* padding-right: 10px; */
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.sig_eventsList li {
    padding: 0.3em;
    overflow: hidden;
}

ul.sig_eventsList li:nth-child(odd) {
    background-color: rgb(245, 245, 245);
}

ul.sig_eventsList li label {
    padding-right: 10px;
    font-size: 16px;
}

ul.sig_eventsList input[type="checkbox"] {
    transform: scale(1.3);
    vertical-align: middle;
}

a#sig_downloadIcs {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    color: #ecf0f1;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.sig_overlay {
    z-index: 900;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #e3e3e396;
}

.noBorder {
    border: none;
}

.calendarIcon,
.dropdownIcon {
    display: list-item;
    width: 20px;
    height: 20px;
    margin: 0px 2px;
}

.dropdownIcon {
    display: inline-block;
    margin-right: 6px;
}

.calendarIconMoodle {
    display: inline-block;
    margin: 0;
    width: 24px;
    height: 24px;
}

.calendarIcon:hover,
.calendarIconMoodle:hover {
    transform: scale(1.4);
}

.gradeChartDiv {
    float: right;
    width: calc(100% - 550px);
}

.gradeChartDiv canvas {
    height: 400;
}

.gradeMetrics {
    margin: 5px;
    font-size: 1.2em;
}

.gradeMetrics table {
    width: 100%;
}

img.sigLoading {
    margin: auto;
    display: block;
    width: 100px;
}

/* Dropdown styles */

a.calendarBtn.dropBtn {
    margin: 0px;
    font-size: 16px;
}

a.calendarBtn.dropBtn>img {
    height: 1.3em;
}

.dropdown {
    margin-bottom: 10px;
    position: absolute !important;
    display: inline-block;
    clear: both;
}

.dropdown>a {
    float: right;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black !important;
    text-decoration: none !important;
    border-bottom: 1px solid #e3e3e3;
    padding: 12px 16px;
    display: flex;
    font-size: 1.2em;
}

.dropdown a:not(.calendarBtn):hover {
    background-color: #ffffff;
}

.show {
    display: block;
}

div.dropdown.right {
    right: 7%;
    float: right;
}

.dropdown.right .dropdown-content {
    margin-top: 11%;
    right: -10%;
}

.dropdown a {
    display: flex;
    align-items: center;
}

.removeFrame {
    margin: 0;
}

.removeFrame>a {
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.removeFrame a:hover {
    background-color: transparent;
}

/* datatables */

.dataTables_filter input[type="search"] {
    margin-left: 10px
}

.dt-button {
    background-color: #2196F3;
    background-image: none;
    color: #ffffff;
}

.dt-button:hover {
    background-color: #1565C0;
    background-image: none;
}

a.calendarBtn:hover {
    color: #ffffff;
}