:root {
    --nav-active: rgb(0, 99, 206);
    --nav-hover: #585b5e;
}

#nav-tab-list a {
    color: white;
    background-image: linear-gradient(to left, transparent, transparent 50%, var(--nav-hover) 50%, var(--nav-hover) 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

#nav-tab-list a:not(.show):hover {
    background-position: 0 0;
    transition: all .25s ease-in;
}

#nav-tab-list a.show {
    background-color: var(--nav-active);
}

#nav-tab-content textarea {
    overflow: hidden;
    resize: none;
}

.parameter-code {
    cursor: pointer;
}

#sidebar {
    box-shadow: 0 0 25px 0 grey;
}

.options-help {
    display: block;
    margin-bottom: 15px;
}